@model ProjectAspDotNetMVC5._0.Models.Employee

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table>
    <tr>
        <th>Id: </th>
        <td> @Model.Id</td>
    </tr>
    <tr>
        <th>Name: </th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Salary:</th>
        <th>@Model.Salary</th>
    </tr>
</table>