
@{
    ViewBag.Title = "Index";
}

<h2>Index Mens</h2>
@Html.ActionLink("Mens Home", "Index", "Home", new { area = "Mens" }, null)
@Html.ActionLink("Womens Home", "Index", "Home", new { area = "Womens" }, null)

